.btn-sky-blue {
  background-color: #E7FAFE;
  font-size: 16px;
}

.categories-top {
  display: flex;
  justify-content: space-between;
}

section.categories {
  padding-top: 160px;
}

.categories-bottom {
  padding-top: 80px;
  display: flex;
  gap: 40px;
}

.category-card {
  width: 180px;
  /* border: 1px solid black; */
  border-radius: 30px;
  text-align: center;
  padding-bottom: 30px;
  background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}

.category-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.category-card p {}